# ---------------------------------------------------------------------------- #
# scriptLattes                                                                 #
# ---------------------------------------------------------------------------- #
global-nome_do_grupo                      = ENSP - Atenção básica + Saúde
global-arquivo_de_entrada                 = ./exemplo/ensp2024.list
global-diretorio_de_saida                 = ./exemplo/ensp2024-termos2/
global-email_do_admin                     = admin@email.com
global-idioma                             = PT    # ainda não implementada na versão Python
global-itens_desde_o_ano                  =       # se não for indicado o ano então serão consideradas as publicações
global-itens_ate_o_ano                    =       # identificadas em todos os CVs Lattes
global-itens_por_pagina                   = 5000

global-identificar_producoes_por_termos   = sim
global-arquivo_de_termos_de_busca         = ./exemplo/termos-atencaoBasica.txt


# ---------------------------------------------------------------------------- #
# RELATÓRIOS DE PRODUÇÃO EM C,T & A                                            #
# Serão criadas listas de publicações apenas para os  tipos = sim              #
# ---------------------------------------------------------------------------- #
relatorio-incluir_artigo_em_periodico                  = sim
relatorio-incluir_livro_publicado                      = sim
relatorio-incluir_capitulo_de_livro_publicado          = sim
relatorio-incluir_texto_em_jornal_de_noticia           = sim
relatorio-incluir_trabalho_completo_em_congresso       = sim
relatorio-incluir_resumo_expandido_em_congresso        = sim
relatorio-incluir_resumo_em_congresso                  = sim
relatorio-incluir_artigo_aceito_para_publicacao        = sim
relatorio-incluir_apresentacao_de_trabalho             = sim
relatorio-incluir_outro_tipo_de_producao_bibliografica = sim

relatorio-incluir_software_com_registro                = sim
relatorio-incluir_software_sem_registro                = sim
relatorio-incluir_produto_tecnologico                  = sim
relatorio-incluir_processo_ou_tecnica                  = sim
relatorio-incluir_trabalho_tecnico                     = sim
relatorio-incluir_outro_tipo_de_producao_tecnica       = sim
relatorio-incluir_entrevista_mesas_e_comentarios       = sim

relatorio-incluir_producao_artistica                   = sim

# ---------------------------------------------------------------------------- #
# RELATÓRIOS DE ORIENTAÇÕES                                                    #
# ---------------------------------------------------------------------------- #
relatorio-mostrar_orientacoes                                          = sim

relatorio-incluir_orientacao_em_andamento_pos_doutorado                = sim
relatorio-incluir_orientacao_em_andamento_doutorado                    = sim
relatorio-incluir_orientacao_em_andamento_mestrado                     = sim
relatorio-incluir_orientacao_em_andamento_monografia_de_especializacao = sim
relatorio-incluir_orientacao_em_andamento_tcc                          = sim
relatorio-incluir_orientacao_em_andamento_iniciacao_cientifica         = sim
relatorio-incluir_orientacao_em_andamento_outro_tipo                   = sim

relatorio-incluir_orientacao_concluida_pos_doutorado                   = sim
relatorio-incluir_orientacao_concluida_doutorado                       = sim
relatorio-incluir_orientacao_concluida_mestrado                        = sim
relatorio-incluir_orientacao_concluida_monografia_de_especializacao    = sim
relatorio-incluir_orientacao_concluida_tcc                             = sim
relatorio-incluir_orientacao_concluida_iniciacao_cientifica            = sim
relatorio-incluir_orientacao_concluida_outro_tipo                      = sim

# ---------------------------------------------------------------------------- #
# RELATÓRIOS ADICIONAIS                                                        #
# ---------------------------------------------------------------------------- #
relatorio-incluir_projeto                = sim
relatorio-incluir_premio                 = sim
relatorio-incluir_participacao_em_evento = sim
relatorio-incluir_organizacao_de_evento  = sim

# ---------------------------------------------------------------------------- #
# GRAFO DE COLABORAÇÕES                                                        #
# ---------------------------------------------------------------------------- #
grafo-mostrar_grafo_de_colaboracoes                         = sim
grafo-mostrar_todos_os_nos_do_grafo                         = nao
grafo-considerar_rotulos_dos_membros_do_grupo               = nao  # informação dada no arquivo de entrada .list (quarta coluna)

grafo-incluir_artigo_em_periodico                           = sim
grafo-incluir_livro_publicado                               = sim
grafo-incluir_capitulo_de_livro_publicado                   = sim
grafo-incluir_texto_em_jornal_de_noticia                    = sim
grafo-incluir_trabalho_completo_em_congresso                = sim
grafo-incluir_resumo_expandido_em_congresso                 = sim
grafo-incluir_resumo_em_congresso                           = sim
grafo-incluir_artigo_aceito_para_publicacao                 = sim
grafo-incluir_apresentacao_de_trabalho                      = sim
grafo-incluir_outro_tipo_de_producao_bibliografica          = sim

grafo-incluir_software_com_registro                         = sim
grafo-incluir_software_sem_registro                         = sim
grafo-incluir_produto_tecnologico                           = sim
grafo-incluir_processo_ou_tecnica                           = sim
grafo-incluir_trabalho_tecnico                              = sim
grafo-incluir_outro_tipo_de_producao_tecnica                = sim
grafo-incluir_entrevista_mesas_e_comentarios                = sim

grafo-incluir_producao_artistica                            = sim

# ---------------------------------------------------------------------------- #
# MÉTRICAS                                                                     #
# ---------------------------------------------------------------------------- #
relatorio-incluir_metricas           = sim
